/* Feuille de Style App Multi ESP */
/* Auteur: Clovis Gauthier */
/* Session hiver 2025 */

/* Variables CSS */
:root {
    /* Texte */
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Roboto', 'Helvetica', sans-serif;
    /* Couleur */
    --couleur-font-1: #000000;
    --couleur-font-2: #a9a9a9;
    --couleur-font-3: #363940;
    --couleur-fond-menu: #363940; 
    --couleur-fond-menu-alpha: #a9a9a9ef;
    --couleur-fond: #ffffff;
    --couleur-fond2: #F1F1F1;
}

/* Règles générales */
html {
    background-color: var(--couleur-fond-menu);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }
}

body {
    font-family: var(--font-1);
    position: relative;
    overflow-x: hidden;
}

/* Menu navigation */
nav {
    font-weight: bold;
    letter-spacing: 0.75px;
    height: 10vh;
    width: 100%;
    background-color: var(--couleur-fond-menu);
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100;

    a {
        text-decoration: none;
        color: var(--couleur-font-2);
    }

    /* Côté gauche */
    div.navG {
        width: 40%;
        color: var(--couleur-font-2);

        a {
            font-size: 1.4rem;
            display: flex;
            align-items: flex-end;
        }
    }

    /* Côté droit */
    div.navD {
        display: flex;
        width: 45%;
        justify-content: flex-end;

        @media screen and (min-width: 767px) {
            justify-content: space-around;
        }

        /* Icone du menu */
        .bouton {
            color: var(--couleur-font-2);
            user-select: none;
            transition: rotate 0.3s;

            span {
                font-size: 2rem;
                cursor: pointer;
            }

            @media screen and (min-width: 767px) {
                display: none;
            }
        }

        /* Input case à cocher */
        #checkbox {
            display: none;
        }

        /* Ajouté par js */
        .tourne {
            rotate: 90deg;
        }

        /* Conteneur des <a> */
        .menu {
            display: flex;
            width: 100%;
            justify-content: space-around;
            transition: transform 0.3s;

            @media screen and (max-width: 767px) {
                position: absolute;
                top: 10vh;
                background-color: var(--couleur-fond-menu-alpha);
                left: 0;
                flex-direction: column;
                width: 100%;
                height: 90vh;
                justify-content: space-around;
                align-items: center;
                transform: translate(100%, 0);

                a {
                    color: var(--couleur-fond-menu);
                    font-size: 1.6rem;
                }
            }
        }

        #checkbox:checked~.menu {
            transform: translate(0);
        }
    }
}

/* Contenu principal */
main {
    section {
        /* border: black 1px solid; */
        background-color: var(--couleur-fond);
        min-height: 100vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0px 5%;
        align-items: center;
        /* justify-content: center; */
    }

    /* Accueil */
    section.accueil {
        height: 90vh;
        justify-content: center;
        position: relative;
        column-gap: 5%;
        row-gap: 5%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/courants-d_espace-43-1024x683.png) no-repeat;
        color: var(--couleur-font-2);

        @media screen and (min-width: 992px) {
            background-size: 100%;
            flex-direction: unset;
        }

        /* sous-titre */
        h2 {
            font-variant-caps: all-small-caps;
            font-weight: 400;
            margin-top: 2%;
            letter-spacing: 1px;
        }

        /* Div à droite du titre */
        .divImg {
            width: 80%;

            @media screen and (min-width: 767px) {
                width: 30%;
            }

            /* height: 100%; */

            img {
                width: 100%;
                height: auto;
            }
        }


    }

    /* Ruban des outils */
    section.outils {
        min-height: 20vh;
        height: fit-content;
        background-color: var(--couleur-fond2);

        .outils__conteneur {
            color: #666666;
            font-weight: bold;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 5%;
            row-gap: 5px;

            .imgRuban {
                /* height: 80%; */
                min-width: 100px;
                width: 10%;
            }
        }
    }

    /* Description du projet */
    section.projet {
        font-family: var(--font-2);
        color: var(--couleur-font-3);

        .projet__titre {
            width: 100%;
            margin-top: 11vh;
            text-align: center;

            h3 {
                margin-top: 1%;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }

        .projet__conteneur {
            display: flex;
            flex-flow: row wrap;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            margin-top: 5%;

            .projet__contenu {
                height: 200px;
                display: flex;
                justify-content: flex-start;
                /* align-items: center; */
                flex-direction: column;
                row-gap: 10px;
                flex-basis: 40%;
                padding: 0px 5%;
            }
        }
    }

    /* Avancements */
    section.avancement {
        .avancement__titre {
            width: 100%;
            margin-top: 11vh;
            text-align: center;

            h3 {
                margin-top: 1%;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }

        .avancement__conteneur {
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            row-gap: 10vh;
            margin: 10vh 0;


            .avancement__contenu {
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                p {
                    padding: 0 2%;
                }

                .avancement__img_petit,
                .avancement__img_moyen,
                .avancement__img_grand {
                    display: flex;
                    flex-wrap: wrap;
                    height: fit-content;
                    width: 100%;
                    justify-content: center;
                    row-gap: 15px;
                    column-gap: 5%;
                    background-color: var(--couleur-fond2);
                    padding: 2% 0;

                    img {
                        height: 120px;
                    }
                }

                .avancement__img_moyen {
                    img {
                        height: 250px;

                        @media screen and (max-width: 600px) {
                            height: 100px;
                        }
                    }
                }

                .avancement__img_grand {
                    column-gap: 2%;

                    img {
                        height: 325px;

                        @media screen and (max-width: 600px) {
                            height: 125px;
                        }
                    }
                }
            }
        }
    }

    /* Auteur */
    section.auteur {
        background-color: var(--couleur-fond2);

        .auteur__titre {
            width: 100%;
            margin-top: 11vh;
            text-align: center;

            h3 {
                /* margin-left: 2%; */
                margin-top: 1%;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }

        .auteur__conteneur {
            display: flex;
            /* flex-grow: 1; */
            height: 100%;
            justify-content: space-around;
            align-items: flex-start;
            row-gap: 5px;
            margin-top: 5%;

            .texte {
                display: flex;
                flex-direction: column;
                padding: 5%;
                text-align: start;

                h2 {
                    margin-top: 5%;
                }
            }

            .portrait {
                height: 200px;
                width: 175px;
                padding: 10px;
                padding-bottom: 0;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background-color: var(--couleur-fond);
                box-shadow: 5px 8.7px 40px rgba(99, 117, 138, 0.3);
                box-shadow: 5px 8.7px 20px 10px #DEDEDE;

                img {
                    height: 100%;
                }
            }

            .nom {
                width: 100%;
            }
        }
    }

    /* Résultat */
    section.resultat {
        .resultat__titre {
            width: 100%;
            margin-top: 11vh;
            text-align: center;

            h3 {
                /* margin-left: 2%; */
                margin-top: 1%;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }
}

/* Pied de page */
footer {
    background-color: var(--couleur-fond-menu);
    height: 20vh;
    display: flex;
    color: var(--couleur-font-2);
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}