/* Feuille de Style App Multi ESP */
/* Auteur: Clovis Gauthier */
/* Session hiver 2025 */

/* Variables CSS */
:root {
    /* Texte */
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Roboto', 'Helvetica', sans-serif;
    /* Couleur */
    --couleur-font-1: #000000;
    --couleur-font-2: #a9a9a9;
    --couleur-font-3: #363940;
    --couleur-fond-menu: #363940;
    --couleur-fond: #ffffff;
    --couleur-fond2: #F8F8F8;
}

/* Règles générales */
html {
    /* background-color: red; */
    background-color: var(--couleur-fond-menu);
    box-sizing: border-box;
}

* {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }
}

body {
    font-family: var(--font-1);
    position: relative;
}

/* Menu navigation */
nav {
    font-weight: bold;
    letter-spacing: 0.75px;
    height: 10vh;
    width: 100%;
    background-color: var(--couleur-fond-menu);
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100;

    a {
        text-decoration: none;
        color: var(--couleur-font-2);
    }

    div.navG {
        width: 40%;
        color: var(--couleur-font-2);

        a {
            font-size: 1.4rem;
            display: flex;
            align-items: flex-end;
        }
    }

    div.navD {
        display: flex;
        width: 45%;
        justify-content: flex-end;

        @media screen and (min-width: 767px) {
            justify-content: space-around;
        }

        button {
            background-color: unset;
            border: none;
            cursor: pointer;
            color: var(--couleur-font-2);

            .material-symbols-outlined {
                font-size: 2rem;
            }

            @media screen and (min-width: 767px) {
                display: none;
            }
        }

        a {
            display: none;

            @media screen and (min-width: 767px) {
                display: unset;
            }
        }

    }
}

/* Contenu principal */
main {
    section {
        /* border: black 1px solid; */
        background-color: var(--couleur-fond);
        min-height: 100vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0px 5%;
        align-items: center;
        /* justify-content: center; */
    }

    /* Accueil */
    section.accueil {
        height: 90vh;
        justify-content: center;
        position: relative;
        column-gap: 5%;
        row-gap: 5%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/courants-d_espace-43-1024x683.png) no-repeat;
        color: var(--couleur-font-2);

        @media screen and (min-width: 992px) {
            background-size: 100%;
            flex-direction: unset;
        }

        /* sous-titre */
        h2 {
            font-variant-caps: all-small-caps;
            font-weight: 400;
            margin-top: 2%;
            letter-spacing: 1px;
        }

        /* Div à droite du titre */
        .divImg {
            width: 80%;

            @media screen and (min-width: 767px) {
                width: 30%;
            }

            /* height: 100%; */

            img {
                width: 100%;
                height: auto;
            }
        }


    }

    /* Ruban des outils */
    section.outils {
        min-height: 20vh;
        height: fit-content;
        background-color: var(--couleur-fond2);

        .outils__conteneur {
            color: #666666;
            font-weight: bold;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 5%;
            row-gap: 5px;

            .imgRuban {
                /* height: 80%; */
                min-width: 100px;
                width: 10%;
            }
        }
    }

    /* Description du projet */
    section.projet {
        font-family: var(--font-2);
        color: var(--couleur-font-3);

        .projet__titre {
            width: 100%;
            margin-top: 8%;
            text-align: center;

            h3 {
                /* margin-left: 2%; */
                margin-top: 1%;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }

        .projet__conteneur {
            display: flex;
            flex-flow: row wrap;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            margin-top: 5%;

            .projet__contenu {
                height: 40%;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                flex-basis: 40%;
                padding: 0px 5%;
            }
        }
    }

    /* Avancements */
}